.background{
    background-color:rgb(6, 5, 59);
    width: 100vw;
    height: 100vh;


}
.t{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
 
}
.r{
    padding-top: 2rem;
}

